<h1>{{animal.nombre}}</h1>
<table>
 <tr>
 <td style="font-weight: bold">Nombre:</td>
 <td> {{animal.nombre}} </td>
 </tr>
 <tr>
 <td style="font-weight: bold"></td>
 <td><img src={{animal.img}} /></td>
 </tr>
 <tr>
 <td style="font-weight: bold">Poderes:</td>
 <td>
<ul>
 <li *ngFor="let carac of animal.caracteristicas">{{carac}}</li>
</ul>
 </td>
 </tr>
 <tr>
 <td style="font-weight: bold">Biografia:</td>
 <td>{{animal.descripcion}}</td>
 </tr>
 <tr>
 <td style="font-weight: bold">Peso:</td>
 <td>{{animal.peso}}</td>
 </tr>
 <tr>
 <td style="font-weight: bold">Clasificacion:</td>
 <td>
 {{animal.clasificacion}}
 </td>
 </tr>
 <tr>
 <td></td>
 <td>
 <span style="background-color: brown; color:white">
 <a style="color: white" routerLink="/">VOLVER</a>
 </span>
 </td>
 </tr>
</table>
