<table border="1" style="border-collapse: collapse" width="600px" >
    <tr>
    <td width="300px" align="center" style="font-weight:bold; font-family:verdana; font-size:14px; color:green;">
    {{animal.nombre}}
    </td>
    <td width="300px">
    <b style="color: red">Caracteristicas</b>
    </td>
    </tr>
    <tr>
    <td align="center">
    <img src={{animal.img}} />
    </td>
    <td>
        <ul>
            <li *ngFor="let car of animal.caracteristicas">{{car}}</li>
        </ul>
    </td>
    </tr>
    <tr>
    <td align="center" style="font-weight:bold; font-family:verdana; font-size:12px">
        <button [routerLink]="['/animal/',animal?.id]">VER MAS</button>
    </td>
    <td></td>
    </tr>
    </table>
